* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: auto;
}

:root {
  --color-boder: #ffe79e;
}

#app {
  height: 100vh;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  position: relative;
}

#scores_wraper {
  width: 300px;
  height: 100%;
  box-shadow: 1px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#scores_title {
  text-align: center;
  padding: 15px 0;
  text-decoration: underline;
}

.caro_item.red,
  .caro_item.blue {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .caro_item.red {
    /* background-color: red; */
    background-image: url("./img/o.jpg");
  }
  
  .caro_item.blue {
    background-image: url("./img/x.jpg");
  }
  
  #btn_reset_game {
    padding: 40px 0;
    text-align: center;
  }
  
  #btn_reset_game > span {
    padding: 15px 30px;
    background-color: rgba(0, 128, 0, 0.8);
    color: aliceblue;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 2px 2px #ccc;
    cursor: pointer;
  }
  
  #btn_reset_game > span:hover {
    background-color: rgba(0, 128, 0, 1);
  }
  
  .overlay_wraper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }
